* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#canvas-container {
  height: 100vh;
}

#App {
  position: relative;
  background-color: #192229;
  overflow: hidden;
}

#elementClassesContainer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  height: 100vh;
  width: 400px;
  padding: 30px;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#elementClassesContainer h1 {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.elementClasses {
  width: 100%;
  height: 200px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.class {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: 0.4s ease;
}

.class:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.classColor {
  width: 20px;
  height: 20px;
  background: red;
}
